[Unit]
Description=Send latest screenshot made in Steam through KDE Connect

[Service]
Type=oneshot
ExecStart=usr/bin/env python3 fetch_latest.py
WorkingDirectory=%h/autoscreenshot

[Install]
WantedBy=default.target
