[Unit]
Description=Send latest screenshot made in Steam through KDE Connect

[Service]
Type=oneshot
ExecStart=/usr/bin/env python3 -m deck_screenshot_sync.fetch_latest

[Install]
WantedBy=default.target
